body{
    background-color: hwb(19 54% 34%);
}
button{
    border-radius: 50%;
    border: 3px;
    background-color: rgb(226, 0, 0);
    color: #000000;
}
button:hover{
    background-color: yellow;
    color: black;
    
}
label{
    color: brown;
    margin: 20px;
}
input{
    border-color: green;
    background-color: antiquewhite;
    margin: 15px;

}