body{
    background-color: lightskyblue;
}
button{
    color: crimson;
    border-radius: 50%;
    border: 3px;
    background-color: #a7a7ff;

}
button:hover{
    background-color: aquamarine;
    color: black;

}
label{
    color: royalblue;
    margin: 20px;
}
input{
    margin: 15px;
    background-color: hsl(180, 36%, 85%);
    border-color: blue;
    
}